node_modules/
.DS_Store
*.log
.idea
haters/
variables.env
variables.env.now
package-json_bak

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
