///////////////////////////////////
///****   some globals   ****///
///////////////////////////////////
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

///images
img {
  width: 100%;
  vertical-align: bottom; //stops that annoying 2px gap at the btm of imgs
  height: auto;
}

.img-sml {
  width: 250px;
  margin: 1rem 0;
}

////////////////////////////////////////////////////////////////////////////
///****   typography     typography     typography     typography   ****///
///////////////////////////////////////////////////////////////////////////

/// sets the html global font size when your font-size is in REMS then it will change accordingly
html {
  font-size: 16px;
  // @media (min-width: $media-sml) {font-size:16px}
  // @media (min-width: $media-med) {font-size:20px}
  // @media (min-width: $media-lrg) {font-size:18px}
  // @media (min-width: $media-lrg-xl) {font-size:19px}
}

$grey: #454545;
$grey-light: #999;
$grey-super-light: #d6d6d6;
$brand-primary: rgb(45, 134, 158);

body {
  font-family: "Source Sans Pro", sans-serif;
  // font-family: 'Lato', sans-serif;
  color: #555;
}

//specific fo h tags
@include h-tags {
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: "Lato", sans-serif;
}

h1 {
  @include fontSize(24px);
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h2 {
  @include fontSize(20px);

  @include media-med {
    @include fontSize(px);
  }

  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
h3 {
  @include fontSize(14px);
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
h4 {
  @include fontSize(20px);
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h5 {
  @include fontSize(18px);
}

p {
  @include fontSize(16px);
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: #555;
}

small {
  @include fontSize(14px);
}
////****href ****/////
a,
a:link,
a:visited,
a:active {
  color: $grey;
  text-decoration: none;
  @include fontSize(16px);
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    color: $brand-primary;
    cursor: pointer;
    text-decoration: underline;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-sml {
    width: 95%;
    max-width: 600px;
  }

  @include media-med {
    max-width: 765px;
    width: 90%;
  }

  @include media-lrg {
    max-width: 920px;
  }

  @include media-lrg-xl {
    max-width: 920px;
  }
}

.push-down {
  flex: 1;
}

// TEST the SASS
// body{background-color: lightyellow;}

// NAVIGATION

nav {
  margin-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px dotted $grey-super-light;
}

.logo {
  margin-bottom: 2rem;

  h1::before {
    content: "[ ";
    color: $brand-primary;
  }

  h1::after {
    content: " ]";
    color: $brand-primary;
  }
}

.menu-btn {
	display: none;
	// @include b1();
  // @include fontSize(16px);
  // letter-spacing: 2px;
  // text-transform: uppercase;
  // padding-bottom: 1rem;
  // &:hover {
  //   cursor: pointer;
  // }
  // @include media-sml {
  //   display: none;
  // }
}

.menu {
  // display: none;
  justify-content: space-between;
  @include media-sml {
    display: flex;
  }
}

.show {
  display: flex;
}

.links {
  a {
    padding: 3px;
  }
  a:not(:last-child)::after {
    content: "  |";
  }
}

.search {
  width: 170px;
  text-align: right;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  @include fontSize(13px);
  padding: 4px;
}

//FRONTPAGE

//HERO
.hero-cont {
  border-bottom: 0.5px dotted $grey-super-light;
  @include media-med {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
}

.hero-img-cont,
.about-img-cont {
  margin-bottom: 1rem;
  transition: filter 0.3s;

  @include media-med {
    width: 58%;
    // max-width: 465px;
  }
  @include media-lrg {
    // max-width: 600px;
  }

  @include media-lrg-xl {
    filter: opacity(100%);
  }
}

.hero-img-cont {
  &:hover {
    // border: 1px solid white;
    filter: opacity(70%);
  }
}

.hero-text-cont {
  @include media-med {
    // width: 280px;
    width: 38%;
  }

  @include media-lrg {
    // width: 300px;
  }
}

// CARDS
.card-cont {
  margin-top: 3rem;

  @include media-med {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  // width: 33%
  padding-bottom: 1rem;

  @include media-sml {
    display: flex;

    justify-content: space-between;
  }

  @include media-med {
    flex-direction: column;
    width: 31%;
    justify-content: flex-start;
  }

  @include media-lrg {
    max-width: 260px;
    padding: 0;
  }

  @include media-lrg-xl {
    max-width: 290px;
  }
}

.card:not(:last-child) {
  border-bottom: 0.5px dotted $grey-super-light;
  margin-bottom: 3rem;
  @include media-med {
    border-bottom: none;
    margin-bottom: none;
  }
}

.card:nth-child(2) {
  flex-direction: row-reverse;
  @include media-med {
    flex-direction: column;
  }
}

.card-img {
  margin-bottom: 1rem;
  @include media-sml {
    width: 45%;
  }
  @include media-med {
    width: 100%;
  }
  // transition: .1s;
  transition: filter 0.3s;
  &:hover {
    border: 1px solid white;
    filter: opacity(70%);
  }
}

.card-text {
  @include media-sml {
    width: 45%;
  }
  @include media-med {
    width: 100%;
  }
}

footer {
  margin: 3rem 0 7rem;
  padding-top: 3rem;
  border-top: 1px dotted $grey-super-light;
  display: flex;
  justify-content: space-between;
}

.social {
  i {
    padding-left: 0.5rem;
    &:hover {
    }
  }
}

// --->>>FORMS<<<------>>>FORMS<<<------>>>FORMS<<<---

label {
  display: block;
  @include fontSize(24px);
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin-bottom: 1.5rem;
  @include fontSize(20px);
  width: 260px;
  &:focus {
    outline-color: $brand-primary;
  }
}

input[type="file"] {
  font-family: "Source Sans Pro", sans-serif;
  @include fontSize(18px);
  line-height: 0.6;
  margin-top: 0.5rem;
}

input[type="submit"] {
  @include fontSize(28px);
  color: #555;
  &:hover {
    cursor: pointer;
  }
}

#wide-input {
  margin-top: 0.75rem;
  width: 700px;
}

.tiny-cont {
  margin: 2rem 0 3rem;
}

// textarea{
// 	padding: 2rem;
// }

// LOGIN --- ||||  LOGIN --- ||||   LOGIN --- ||||

.form-login {
  margin-bottom: 4rem;
}

//--- SINGLE RECIPE --- ||||| ------ SINGLE RECIPE --- ||||| ---

.recipe-cont {
  max-width: 700px;
  @include media-med {
    width: 80%;
  }
}

.recipe-img-cont {
  margin-bottom: 2rem;
  max-width: 700px;
}

.recipe-text-cont {
  // text-align: center;
  img {
    max-width: 700px;
    margin-bottom: 1rem;
  }
}

//--- RECIPES --- ||||| ------ RECIPES --- ||||| ---

.tags-cont {
  border-top: 1px dotted $grey-light;
  border-bottom: 1px dotted $grey-light;
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline;
  @include fontSize(14px);
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 2.5;
  padding: 0.25rem 0.5rem 0.35rem 0.75rem;
  margin: 0 1rem 0 0;
  background-color: $brand-primary;
  color: white;
  border-radius: 30px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $grey-super-light;
    color: $brand-primary;
  }
}

// .lols
